.form__field{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
}


@media all and (max-width: 450px) {
    .form__field {
        margin-bottom: 40px;
    }
}