.form__button-save{
    height: 50px;
    box-sizing: border-box;
    background-color: black;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: .5s;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #C4C4C4;
}

.form__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .5s;
}

.form__button-save:focus {
    outline: none;
}


.button_inactive {
    color: #C4C4C4;
    background: #ffffff;
    pointer-events: none;
}

@media all and (max-width: 665px){
    .form__button-save{
        font-size: 14px;
        line-height: 17px;
    }
}