.form__button-close{
    position:absolute;
    top: -40px;
    right: -40px;
    width: 40px;
}

.form__button-close:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media all and (max-width: 450px){
    .form__button-close{
        width: 26px;
        right: 0;
        transition: 1s;
    }
}