.popup-image{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top:0;
    left: 0;
    margin-bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.popup-image-active{
    visibility: visible;
    opacity: 1;
    transition: all 1s linear;
}