.profile__title{
    width: 294px;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
}


@media all and (max-width: 400px) {
    .profile__title{
        width: 100%;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-bottom: 5px;
        transition: .5s;
    }
}