.form__input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(0, 0, 0, .2);
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 5px 0;
}
/*.form__input:last-of-type{*/
/*    margin-bottom: 48px;*/
/*}*/

.form__input:focus{
    outline: 0;
}


.form__input:valid {
    border-bottom: 1px solid green;
}

.form__input:invalid {
    border-bottom: 1px solid red;
}

@media all and (max-width: 450px){
    .form__input{
        padding-bottom: 8px;
        transition: .5s;
    }
    /*.form__input:last-of-type{*/
    /*    margin-bottom: 41px;*/
    /*    transition: .5s;*/
    /*}*/

}