.popup-image__button-close{
    position: absolute;
    right: -40px;
    top: -40px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/close-form.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}

.popup-image__button-close:active {
    outline: none;
}
.popup-image__button-close:hover{
    opacity: .5;
}


@media all and (max-width: 450px){
    .popup-image__button-close{
        top: -35px;
        right: 0px;
        width: 20px;
        height: 20px;
        transition: .5s;
        background-size: 20px;
    }
}