.element__images{
    height: 282px;
    object-fit: cover;
}

.element__images::after{
    content: '';
    background-image: url("../../../images/trash.svg");
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}


.element__images:hover{
    cursor: pointer;
}